<p>School choice application are currently open!  To learn more about the school choice process, <%= link_to 'GO HERE', home_learn_school_choice_process_path %>!</p>
<h1>We're here to help you navigate the Delaware School Choice Process.</h1>
<h2><%= link_to 'Navigate School Choice', home_navigate_school_choice_path %></h2>
<h2><%= link_to 'Find Your Feeder Pattern', home_find_feeder_pattern_path %></h2>
<h2><%= link_to 'Find a School', home_find_school_path %></h2>
